/* CODING FOR LETTER A*/

.letter-a {
	position: relative;
	border:  0px solid #000;
	width: 300px;
	height: 300px;
}
.base-a { /* Code adapted from css-tricks.com/the-shapes-of-css/*/
    width: 300px; 
    height: 200px;
    background: black;
    position: absolute;
    border-radius: 40px;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.counter-a {
	width:  50px;
	height: 50px;
	top: 80px;
	left: 175px;
	border-radius: 70px;
	background: white;
	transform: skew(27deg);
	position:  absolute;
	z-index: 2;
}
.opencounter-a {
	width: 45px; 
    height: 130px;
    background: white;
    position: absolute;
    top: 170px;
    left: 180px;
    border-radius: 5px 5px 0px 0px;
    z-index: 3;
}
.left-stem-a {
    width: 180px; 
    height: 160px;
    background: black;
    position: absolute;
    border-radius: 20px;
    top: 140px;
    left: 0px;
    z-index: 1;
}
.right-stem-a {
    width: 75px; 
    height: 160px;
    background: black;
    position: absolute;
    border-radius: 20px;
    top: 140px;
    left: 225px;
    z-index: 1;
}

/* CODING FOR LETTER B*/

.letter-b {
	position: relative;
	border:  0px solid #000;
	width: 300px;
	height: 300px;
	left: 310px;
	top: -300px;
}
.top-b {
	width: 300px; 
    height: 150px;
    background: black;
    position: absolute;
    border-radius: 40px 30px 30px 0px;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.bottom-b {
	width: 300px; 
    height: 150px;
    background: black;
    position: absolute;
    border-radius: 0px 30px 30px 40px;
    top: 150px;
    left: 0px;
    z-index: 1;
}
.top-b-counter {
	width:  50px;
	height: 50px;
	top: 50px;
	left: 200px;
	border-radius: 70px;
	background: white;
	transform: skew(27deg);
	position:  absolute;
	z-index: 2;
}
.bottom-b-counter {
	width:  50px;
	height: 50px;
	top: 175px;
	left: 200px;
	border-radius: 70px;
	background: white;
	transform: skew(27deg);
	position:  absolute;
	z-index: 2;
}

/* CODING FOR LETTER C*/

.letter-c {
	position: relative;
	border:  0px solid #000;
	width: 300px;
	height: 300px;
	left: 620px;
	top: -600px;
}

.base-c {
    width: 250px; 
    height: 300px;
    background: black;
    position: absolute;
    border-radius: 40px 0px 0px 40px;
    top: 0px;
    left: 0px;
    z-index: 1;	
}
.counter-c {
	width: 120px; 
    height: 45px;
    background: white;
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    top: 120px;
    left: 180px;
    z-index: 1;
}
.top-c {
	width: 125px; 
    height: 120px;
    background: black;
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    top: 0px;
    left: 175px;
    z-index: 1;
}
.bottom-c {
	width: 125px; 
    height: 135px;
    background: black;
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    top: 165px;
    left: 175px;
    z-index: 1;
}

/* CODING FOR LETTER D*/

.letter-d {
	position: relative;
	border:  0px solid #000;
	width: 300px;
	height: 300px;
	left: 930px;
	top: -900px;	
}
.d-base {
    width: 300px; 
    height: 300px;
    background: black;
    position: absolute;
    border-radius: 40px 100px 100px 40px;
    top: 0px;
    left: 0px;
    z-index: 1;	
}
.d-counter {
	width:  75px;
	height: 75px;
	top: 70px;
	left: 160px;
	border-radius: 70px;
	background: white;
	transform: skew(27deg);
	position:  absolute;
	z-index: 2;
}
